@font-face {
  font-family: 'Orbitron';
  src: url('./Orbitron-Black.ttf') format('truetype'),
       url('./Orbitron-Bold.ttf') format('truetype'),
       url('./Orbitron-Medium.ttf') format('truetype'),
       url('./Orbitron-ExtraBold.ttf') format('truetype'),
       url('./Orbitron-Regular.ttf') format('truetype'),
       url('./Orbitron-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}